<%if(true){%>
<div class="widget-wrap">
  <h3 class="widget-title ">抗癌公社-北京社区</h3>
  <div class="widget">
    <div class="kags">
       <div class="kags-title">
         <img src="/css/images/kags_logo_touming.png" alt=""/>
       </div>
       <img src="/css/images/mykags.png" alt="抗癌公社-北京社区-欢迎您的加入"/>
       <div><b> 微信扫码加入吧</b></div>
       <div class="content">
         <b>公社简介</b>
         <p>
           抗癌公社（原名互保公社）创建于2011年5月，是中国第一家众保平台，它通过建立网民间的“利益共同体与关系共同体”，利用针对癌症的小额互助，帮助患者筹集医疗费，以缓解人们对癌症的忧虑和解决癌症医疗费问题。
         </p>
         <b> 我们的使命</b>
         <p>
           帮助1亿国人解决大病医疗费问题建立中国乃至世界门槛最低的、性价比最高的保障方式，使人们不管收入高低，都不再为高额医疗费忧虑。人人有完善保障，更加从容和有尊严。
           促进社会友爱互助精神，重建“善有善报”的社会价值观，证明“人人为我我为人人”不仅可行、而且是最优的生活方式。
         </p>
         <b>我们的愿景</b>
         <p>
           每个人一出生都会被父母加入到公社中来
           每个社员都以作为公社一员而自豪
           成为有影响力的互助团体，员工受人尊敬
         </p>
       </div>
      <div class="qq">
        <b>注册加入后：</b> <a target="_blank" href="http://shang.qq.com/wpa/qunwpa?idkey=a648c5e0d95a18a2a2ad6595603a446a2361cb5f0db3cc9187131c05cabe3fe8"><img border="0" src="http://pub.idqqimg.com/wpa/images/group.png"  alt="抗癌公社北京社区" title="抗癌公社北京社区"></a>
      </div>

    </div>

  </div>
</div>
<%}%>
